@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #fff1f5;
    padding-top: 90px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 0 9%;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo{
    font-size: 3rem;
    font-weight: 700;
    color: #FEFCAF;
}

nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
}

section{
    min-height: 100vh;
    padding: 5rem 9%;
    scroll-margin-top: 100px;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}

.home-img img{
    width: 30vw;
    border-radius: 50%;
}

.home-content h1{
    font-size: 5rem;
}

.home-content h3{
    font-size: 3rem;
    color: #7a1f2b;
}

.home-content p{
    font-size: 1.6rem;
}

.social-icons a{
    font-size: 2.2rem;
    margin-right: 2rem;
    color: #7a1f2b;
}

.btn{
    display: inline-block;
    margin-top: 2rem;
    padding: 1.2rem 3rem;
    background-color: blue;
    color: white;
    border-radius: 4rem;
}

.page-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-section img{
    max-width: 70%;
}

@media(max-width: 900px){
    .home{
        flex-direction: column;
        text-align: center;
    }

    .home-img img{
        width: 60vw;
    }
}
